**/.coverage
**/db.sqlite3
**/celerybeat-schedule

**/CompositeDataRESTAPIService/api/appsw.py
**/CompositeDataRESTAPIService/api/testflask.py

**/static/admin
**/static/assets/images
**/media/

**/.idea

**/*.sqlite3
**/*.env*
**/venv/

**/__pycache__/