**/.idea

**/*.sqlite3
**/*.env*
**/venv/

**/__pycache__/
*.py[cod]

**/.pytest_cache

**/migrations/**
!**/migrations
!**/migrations/__init__.py

backend/main.py

**/locale
**/media/*

**/static/admin
**/static/debug_toolbar

**/celerybeat-schedule