**/.idea

*.sqlite
*.env
**/venv/

**/__pycache__/
*.py[cod]

**/.idea

**/migrations/**
!**/migrations
!**/migrations/__init__.py

main.py

**/locale
**/media/*


**/static/admin
**/static/debug_toolbar

**/celerybeat-schedule
