@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.root {
  padding: 20px 0;
  background-color: #171718;
  //background-image: url("./../../../assets/png/backgrounds/header-bg.png");
  //background-repeat: no-repeat;
  block-size: auto;
  //background-position: center;
  color: #ffff;
  min-height: 100vh; 
  /* @media (max-width: 1240px) {
    padding: 40px 0;
  } */
}
.block{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container {
  position: absolute;
  width: 200px;
  height: 165px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
 cursor: pointer;
  @media (max-width: 768px) {
    width: 150px;
    height: 118px;
  }
}
.modules {
  &__item {
    list-style: none;
    display: block;
    text-align: center;
    line-height: 55px;
    font-weight: 300;
    width: 100%;
    border-radius: 20px;
    font-size: 17px;
    &:hover {
      background-color: rgba(182, 0, 172, 0.1);
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 38px;
    }
  }
}
.map {
  position: absolute;
  left: 54%;
  transform: translateX(-50%);
  padding: 5px;
  max-width: 900px;
  max-height: 800px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 32px 0 #5a2bb24d;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
  
}
.text {
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
  }
}
.settings {
  position: absolute;
  left: 54%;
  transform: translateX(-50%);
  padding: 5px;
  max-width: 1000px;
  max-height: 800px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 32px 0 #5a2bb24d;
  display: none;
  &.active {
    display: flex;
  }
}
