@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.root {
  padding: 20px 0;
  background-color: #171718;
  //background-image: url("./../../../assets/png/backgrounds/header-bg.png");
  //background-repeat: no-repeat;
  block-size: auto;
  //background-position: center;
  color: #ffff;
  min-height: 100vh;
  /* @media (max-width: 1240px) {
    padding: 40px 0;
  } */
}
.block {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-bottom: 20px;
}
.modules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    width: 200px;
    padding: 10px;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 20px;
    text-align: center;
    &:hover {
      background-color: rgba(182, 0, 172, 0.1);
    }
    @media (max-width: 768px) {
      font-size: 15px;
    }
  }
}
.map {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  max-width: 100%;
  max-height: 800px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 #5a2bb24d;
  display: none;
  &.active {
    display: block;
  }
}
.text {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 15px;
  }
  text-align: left;
}
.img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.img1 {
  position: relative;
  left: 70%;
  transform: translateX(-50%);
}
.settings {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  max-width: 100%;
  max-height: 800px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 32px 0 #5a2bb24d;
  display: none;
  &.active {
    display: flex;
  }
}
