.ruler{

  position: absolute;
  z-index: 1000;


  bottom: 130px;
  left: 8px;


  .btn{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    min-width: 85px;
  }
}