.header {
  background-color: #171718;
  color: #ffffff;
  padding: 20px 0;
  border: 1px solid #26292d;
  letter-spacing: normal;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 800;
  margin-right: auto;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 400;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  &__item {
    position: relative; /* Добавляем позиционирование для корректной работы псевдоэлемента */
    cursor: pointer;
    list-style: none;

    &:hover,
    &:active {
      opacity: 0.8;
      transition: 0.5s;
    }
  }
  &__link {
    transition: opacity 0.2s ease-in;
    &--active {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        height: 2px;
        width: 100%;
        background-color: rgb(91, 0, 107);
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
