.calendarleft{
    position: absolute;
    top: 70px;
    left: 240px;
    background-color: white;
    border: 1px solid black;
    .setting{
        padding: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

    }
}